.App {
  text-align: center;
  background: #2f2d2d;
  padding-top: 20px;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  font-size: 36px;
  margin-bottom: 25px;
}

.App-link {
  color: #09d3ac;
}
